@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
p{
color: red;
}
#details{
background-color: cornsilk;
margin-left: 20%;
margin-right: 20%;
}

#bg2{
background-image: url('../../assets/users.jpg');
background-size: contain;
background-position: center center;
position: relative;
top:0;
bottom: 0;
z-index: -10
}
#header{
color: white;
background-color: red; 
}
