@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
p{
color: red;
}
#yo{

background-color: cornsilk;
}
#bg2{
background-image: url('../../assets/users.jpg');
height: 100%;
background-size: cover; 
}
#header{
color: white;
background-color: red; 
}