<div id="bg2">
  <mat-card id="card">
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
        <p> Full-Name</p>
        <input matInput type="text" name="fullname" ngModel required minlength="3" #title="ngModel"> 
        <p>User-name</p>
        <input matInput type="text" name="username" ngModel required minlength="3" #title="ngModel"> 
        <p>Email</p>

        <input matInput type="text" name="email" ngModel required minlength="3" #title="ngModel"> 
        <p>Phonenumber</p>


        <input matInput type="text" name="phonenumber" ngModel required minlength="3" #title="ngModel">

        <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <p>Description</p>
        <textarea matInput rows="4" name="description" ngModel required #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Please enter a post title.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Save Post</button>
    </form>
  </mat-card>
</div>