
<mat-toolbar color="primary" id="col">
  <mat-toolbar-row >
    <span class="title-center">
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row >
    <button mat-button [routerLink]="['/create']" color="Warn">Register User</button>
    <button mat-button [routerLink]="['/list']">List Available Users</button>
    <button mat-button [routerLink]="['/']">home Page</button>
    <button mat-button [routerLink]="['/users']">List Available Users</button>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet ></router-outlet>