<div id="header">
</div>
<mat-toolbar color="primary" id="col">
  <mat-toolbar-row >
    <span class="title-center">
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row >
    <div id="buttons">
    <button mat-button [routerLink]="['/']">Home Page</button>
    <button mat-button [routerLink]="['/create']" color="Warn">Register User</button>
    <button mat-button [routerLink]="['/list']">List Available Users</button>
    <button mat-button [routerLink]="['/movies']">List movies</button>
  </div>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet ></router-outlet>
