@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

#col{
    background-image: url('../assets/options.jpg');
    background-size: cover;
    position: relative;
    height: 70px;
    width: 100%;
}
#header{
    background-image: url('/../assets/marflix.png');
    background-position: center top;
    background-size: contain;
    height: 150px;
    width: 100%;

}
#footer{
    background-image: url('../assets/footer.png');
    background-position: center bottom;
    background-size: contain;
    height: 100px;
    width: 100%;
}

#spacing{

    height: 5px;
    color: white;
}
mat-toolbar-row{
    color: black;
}
#buttons{

margin-left: 30%;   
}

button{

    height: 40px;
    margin-bottom: 20px;
    margin: 20px;
    margin-top: 0%;

    
}