<div id="header">
</div>
<mat-toolbar color="primary">
  <mat-toolbar-row id="reg">
    <span class="title-center">
      Register a User 3 months free trial.
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row id="reg">
    <button mat-button [routerLink]="['/create']" color="Warn">Register User</button>
    <button mat-button [routerLink]="['/list']">List Available Users</button>
  </mat-toolbar-row>
</mat-toolbar>

<div id="bg">
  <div id="overlay">
    <p id="text"> Bored ?? 50% Less bored with MARFLIX !!! </p>
  </div>
</div>
<router-outlet ></router-outlet>