body{
    margin: 0px;
    }
    
    #header{
        background-image: url('../../assets/marflix.png');
        background-position: center top;
        background-size: contain;
        height: 200px;
        width: 100%;
    
    }
    #footer{
        background-image: url('../../assets/footer.png');
        background-position: center bottom;
        background-size: cover;
        height: 100px;
        width: 100%;
    
    }
    #bg{
        background-image: url('../../assets/thanos.jpg');
        background-size: cover;
        background-position: center center;
        position: relative;
        top:0;
        bottom: 0;
        height: 80vh;
        z-index: -10
    
    }
    #overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
    
    }
    #reg{
        background-color:darkgrey;
    }
    
    #text{
        font-family: "Avant Garde", Avantgarde,
         "Century Gothic", CenturyGothic, "AppleGothic",
          sans-serif;
        color: white;
        font-size: 20px;
        font-style: italic;
        margin-top: 27%;
        margin-left: 22%;
        font-size: 30px;
    
    }
    h1 {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        font-size: 92px;
        padding: 80px 50px;
        text-align: center;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;

    
    }      