@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


mat-form-field,
textarea {
  width: 100%;
}
#bg{

  background-image: url('../../assets/edit.jpg');
background-size: contain;
background-position: center center;
position: relative;
top:0;
bottom: 0;
height: 80%;
margin: 0%;
}

#details{
  background-color: cornsilk;
  margin-left: 20%;
  margin-right: 20%;
  }
  